@charset "utf-8";

/* ========================================
    全体設計
========================================= */

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333333;
    margin: 0 auto;
    box-sizing:border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

.box-shadow {
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    }




a{
    text-decoration: none;
}

/* ========================================
    ヘッダーナビ
========================================= */

/* ナビ固定スクロール */
header {
    position:fixed;
    width: 100%;
    height: 90px;
    top: 0;
    z-index: 1000;
}

.navigation {
    display: none;
}



/* ハンバーガーメニュー */

#nav_hamburger {
    position: absolute;
    top: 0;
    left: -40%;
    width: 40%;
    height: 100vh;
    background: #f5f5f5f5;
    transition: .7s;
    /* left: auto; */
    /* right: 0; */
}

#nav_hamburger ul{
    padding-top: 80px;
}

#nav_hamburger ul li {
    list-style:none;
}

#nav_hamburger a {
    display: block;
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
    font-size: 25px;
}

#nav_hamburger li a:hover {
    color: #fff;
    background:#7a7a7a;
    border-bottom: none;

}
/* 位置と幅・高さ */

#hamburger_line {
    display: block;
    position: absolute;
    top: 20px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    transition: 1s;
    left: auto;
    right: 0;
    margin-right: 20px;
    /* background-color: #000; */
    }

/* 線の縦幅・色の指定 */
    .inner_line {
        display: block;
        position: absolute;
        left: 0;
        width: 50px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        transition: 1s;
        border-radius: 4px;
        }

/* 横棒3本線 */
        #line_1 {
            top: 0;
        }
        #line_2 {
            top: 20px;
        }
        #line_3 {
            bottom: 0px;
        }

/* 閉じるボタンの動き */
.fadein{
    transform: translateX(100%);
    }
    .line_1,.line_2,.line_3{
        background: #000000;
    }
    .line_1 {
        transform: translateY(20px) rotate(-45deg);
        top: 0;
    }
    .line_2 {
        opacity: 0;
    }
    .line_3 {
        transform: translateY(-20px) rotate(45deg);
        bottom: 0;
    }

/* ハンバーガーメニュー */



.header_inner,
.footer_content{
    background:url(images/background_img1.png);
    height:80px;
}
.header_content {
    width:100%;
    height:auto;
}
.navigation {
    /* background-color: red; */
    float:right;
    margin-bottom:30px;
    position: absolute;
    bottom:-20px;
    right:0;
}
.navigation  li:last-child{
    margin-right:10px;
}
.navigation ul li{
    float:left;
    list-style:none;
    text-align: center;
    margin-right: 5px;
}

.navigation a{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Cherry Swash', cursive,'メイリオ';
    display: block;
    text-decoration: none;
    color: #555555;
    margin: 0 10px;
    padding: 10px;
    transition: .5s;
}

.navigation ul li a:hover{
    color: #fff;
    background-color: rgba(255, 164, 164, 0.3);
    border-bottom: none;
}

/* ========================================
    トップ画像
========================================= */
#header_pic img{
    width:100%;
    height:auto;
    box-sizing: border-box;
    border: 5px solid #fff;
    margin-top:100px;
}
#header_pic {
    position: relative;
}

span#headerpic_text {
    font-size: 40px;
    color:#fff;
    line-height:1;
    font-family: 'Cherry Swash', cursive;
    position:absolute;
    bottom:20px;
    right:20px;
}



/* 見出しトップ（portfolio） */
h1 {
    font-size: 40px;
    font-family: 'Cherry Swash', cursive,'メイリオ';
    color: #555555;
    font-weight: bold;
    line-height:50px;
    padding: 10px 20px
}


/* 見出し（NEWS,ABOUT..etc） */

h2 {
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    background-color:#f5f5f5f5;
    height:60px;
    line-height:60px;
    margin-bottom:30px;
}



/* ========================================
    NEWコンテンツ
========================================= */
.NEWS_content {
    /* background:rgb(250, 9, 9); */
    width:100%;
    margin:20px 0;
}
.NEWS_content ul{
    overflow: scroll;
    width: 100%;
    height:250px;
}

.NEWS_content ul li span{
    font-size: 12px;
    font-weight: normal;
    color:#927e7a;
    margin-right: 15px;
}

.NEWS_content li {
    font-size: 13px;
    font-weight:normal;
    color:#927e7a;
    border-bottom: 1px dotted #d0d0d0;
    line-height: 20px;
    padding: 25px;
}



/* ========================================
    ABOUTコンテンツ
========================================= */
.ABOUT_content {
    /* background:rgb(251, 255, 0); */
    width:100%;
    height:auto;
    margin:20px 0;

}
.ABOUT_content img {
    width:100%;
    height:auto;
    border: 5px solid #fff;
}


/* 装飾２重枠線 */
.border {
    display: inline-block;
    border: solid 3px #333333;
    position: relative;
    padding: 30px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.border:after {
    content: "";
    border: solid 3px #444444;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;

}
/* ========================================
    SKILLコンテンツ
========================================= */
.SKILL_content {
    width:100%;
    margin:20px 0;
}

h3 {
    color: #ffffff;
    font-weight: bold;
    text-align:center;
    border-radius: 10px;
    background:rgb(30, 48, 31);
    padding:10px;
    width:150px;
}

.programming_text,
.designtool_text {
    margin-top:10px;
    padding:10px;
}

.programming,
.designtool  {
    box-sizing: border-box;
    background:rgb(167, 253, 170);
    border-radius: 10px;
    padding:20px 0;
    height:180px;
    margin: 10px;
}



.designtool  {
    position: relative;
    overflow: hidden;
}


.list {
    position: relative;
    left: 50%;
    float: left;
}


#photoshop,
#illustrator{
    margin-right:10px;
    position: relative;
    left: -50%;
    float: left;
}




/* ========================================
    WORKコンテンツ
========================================= */





/* .WORK_content {
    background:rgb(106, 255, 0);
    width:100%;
    height:auto;
    margin:20px 0;

}

.box1_banner_contatiner,
.box2_LP_contatiner,
.box3_HP_contatiner{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}


.box1,.box2,.box3 {
    background: linear-gradient(to right,rgb(186,175,222),rgb(207,159,192),rgb(226,144,162));
    width:300px;
    height:200px;
    text-align: center;
    flex: auto;
    width:50%;
}

.box1 p, .box2 p, .box3 p{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    line-height:200px;
}



.box1_text,.box2_text,.box3_text {
    text-align: center;
    padding: 20px;
    width:100%;
    flex: auto;
    width:50%;
    margin-top: 30px;
}

button {
    text-align: center;
    margin:10px;
    padding:10px;
    width:100px;
} */


/* ========================================
    footerコンテンツ
========================================= */
.footer_content {
    /* background:rgb(210, 208, 214); */
    width:100%;
    height:80px;
    margin:20px 0 0;
}

.footer_content  p{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}


/* ========================================
    制作実績ページ
========================================= */
/* .wrapper{
    width:100%;
    height:auto;
} */

.WORK_content {
    margin-top:100px;
}

.portfolio_content {
    /* background:yellow; */
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
    height:auto;
}


/* 画像装飾 */
.web_banner ul {
    margin:10px;
    list-style:none;
    flex:row;
    display:flex;
    justify-content:center;
}

.web_banner li {
    padding:5px;
}

.web_banner ul li img{
    width:100%;
}

/*テキスト装飾 */
.web_bannertext {
    border: 1px solid #acacac;
    /* background:yellow; */
    margin:10px;
}



.web_bannertext dl{
    padding:10px;
}


.web_bannertext dt{
    padding-left:10px;
    border-left: 5px solid #2e6977;
}
.web_bannertext dd{
    padding:10px;
}


section.border-bottom {
    margin-bottom:50px;
}













@media screen and  (min-width: 767px) {/* PC用CSS 767ｐｘ以上の場合適用 */

.header_inner,
.footer_content {
    background: url(images/background_img1.png);
    height:100px;
}

.header_inner h1 {
    font-size: 50px;
    padding: 20px 30px 10px;
/* background: red; */

}

h2 {
    margin: 0;
    font-size: 40px;
    font-weight:bold;
    text-align: center;
    background-color:#f5f5f5f5;
    height: 100px;
    padding-top: 20px;
    margin-top: 36px;
    margin-bottom: 36px;
}

#nav_hamburger,#hamburger_line {
    display:none;
}
.navigation {
    display:block;
}




/* top_img */
span#headerpic_text {
    font-size:50px;
    color:#fff;
    font-family: 'Cherry Swash', cursive;
    position:absolute;
    bottom:30px;
    right:30px;
}



/* ========================================
    ABOUTコンテンツ
========================================= */

.ABOUT_content {
    /* background:rgb(251, 255, 0); */
    /* width:100%; */
    height:auto;
    margin: 0 auto;
    margin-bottom:10px;
}

.ABOUT_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.ABOUT_flex img {
    width:600px;
    margin-top:10px;
}



/* 装飾２重枠線 */
.border {
    font-size: 18px;
    display: inline-block;
    border: solid 3px #333333;
    position: relative;
    padding:30px;
    margin: 10px;
    margin-top:10px;
    width:650px;
}

.border:after {
    content: "";
    border: solid 3px #444444;
    position: absolute;
    top:5px;
    left:5px;
    width: 100%;
    height: 100%;

}
/* ========================================
    SKILLコンテンツ
========================================= */

.SKILL_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.programming_text,
.designtool_text {
    padding:10px 20px 0;
    font-size:18px;
}

.programming,
.designtool {
    width:500px;
    height:270px;
}

/* ========================================
    WORKコンテンツ
========================================= */





/* .WORK_content {
    background:rgb(106, 255, 0);
    width:100%; 
     height:auto;
    margin: 0 auto;
    margin-bottom:10px;

}




.box1,.box2,.box3 {
    background: linear-gradient(to right,rgb(186,175,222),rgb(207,159,192),rgb(226,144,162));
     width:420px;
    height:300px; 
    float:left;
    margin-left: 200px;
}

.box1 p, .box2 p, .box3 p{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    margin-top:50px;

}


.box1_text,.box2_text,.box3_text {
    flex:1;
     background:rgb(102,216, 119); 
    font-size:18px;
    text-align: center;
    padding: 20px;
     width:420px; 
    float:left;
}

button {
    text-align: center;
    margin:10px;
    padding:10px;
    width:200px;
} */
/* ========================================
    footerコンテンツ
========================================= */
.footer_content {
    /* background:rgb(210, 208, 214); */
    width:100%;
    height:100px;
    margin: 0 auto;
}

.footer_content  p{
    font-size:20px;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}



/* ========================================
    制作実績ページ
========================================= */

.portfolio_content {
    /* background:yellow; */
    margin-top:150px;
    margin-bottom:50px;
    width:100%;
    height:auto;
}



/* 画像装飾 */
.web_banner ul li{
    margin: 5px;
    list-style:none;
    flex:row;
    display:flex;
    justify-content:center;
}
.web_banner  {
    margin-bottom:20px;
}

.web_banner li {
    padding:5px;
}

.web_banner ul li img{
    width:70%;
}

/*テキスト装飾 */
.web_bannertext {
    height:auto;
    /* border: 1px solid #444444; */
    /* background:yellow; */
    margin:10px;
    width:960px;
    max-width: 960px;
    margin: 0 auto;

}


section.border-bottom {
    /* width:960px; */
    height:auto;
    margin-bottom:50px;
}








}
